<footer class="bg-secondary">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-12">
                <p class="text-white text-center text-footer mt-3">Football data provided by the Football-Data.org API
                </p>
            </div>
            <div class="col-md-6 col-sm-6 col-12">
                <a href="mailto:diegojoel98@gmail.com" class="links text-decoration-none ml-5 pl-4 text-white">
                    <i class="fa fa-envelope mt-2" style="font-size: 30px;"></i> diegojoel98@gmail.com</a>
            </div>
        </div>
    </div>
</footer>