<div class="vh-ultimo-partido"
    title="Tienes un número limitado de recargas a la página por minuto, si notas que no carga algún elemento o se tarda demasiado, debes esperar 60 segundos para recargar, si aún no recarga debes esperar 60 segundos y abrir la página en otra pestaña">

    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Aviso:</strong> Tienes un número limitado de recargas a la página por minuto, si notas que no carga
        algún
        elemento o se tarda demasiado, debes esperar 60 segundos para recargar, si aún no recarga debes esperar 60
        segundos y abrir la página en otra pestaña.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="link">&times;</span>
        </button>
    </div>


    <h2 class="text-center pt-2 animate__animated animate__backInUp">Último partido</h2>

    <div id="videos"></div>

    <button routerLink="/videos" class="text-black link text-center mx-auto d-block btn btn-outline-danger">
        Ver todos los videos
    </button><br />
</div>